@using Microsoft.AspNetCore.Identity
@using Electro_Shop.Areas.Identity.Data
@using Electro_Shop.Models;
@using Electro_Shop.Data;
@using Microsoft.EntityFrameworkCore;

@model Electro_Shop.Models.BestSeller
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager


@{

    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {

    <script>$('.carousel').carousel({
            interval: 3000
        })</script>

    <script>(function () {
            window.addEventListener('load', function () {

                $.get("https://api.nytimes.com/svc/topstories/v2/technology.json?api-key=FKt9wkCL0mnzCINpT5QZQrcZZ6qHUSIi", function (data) {
                    $(".result").html(data);
                    var Row = $("#FatherRow");
                    var count = 0;
                    data.results.forEach(item => {
                        count++;
                        var generate = $([
                            "       <div class='col-sm-4'>",
                            "            <div class='widget single-news'>",
                            "                <div class='image'>",
                            "                    <img height='300' width='200' src='" + item.multimedia[0].url + "' class='img-responsive'>",
                            "                        <span class='gradient'></span>",
                            "    </div>",
                            "                    <div class='details'>",
                            "                        <div class='category'><a href=''>" + item.section + "</a></div>",
                            "                        <h3><a href='" + item.url + "'>" + item.title + "</a></h3>",
                            "                    </div>",
                            "                </div>",
                            "            </div> "
                        ].join("\n"));
                        if (count < 7) {
                            Row.append(generate);
                        }
                    });
                });
            })
        })();</script>

    @*<script>
            (function () {
                window.addEventListener('submit', function () {




        </script>*@

}



@*Best sellers carousel*@

<div class="shop-items">
    <div class="container-fluid">
        @*Best sellers carousel*@
        <h1>  <a class="nav-link text-dark" asp-controller="BestSellers" asp-action="Index"> Best Selling products</a> </h1>
        <div class="container my-4">
            <link rel="stylesheet" href="~/css/bestsellers.css" />

            <hr class="my-4">

            <!--Carousel Wrapper-->
            <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

                <!--Controls-->
                <!--/.Controls-->
                <!--Indicators-->
                <ol class="carousel-indicators" >
                    <li style="background-color:#32c8de" data-target="#multi-item-example" data-slide-to="0" class="active"></li>
                    <li style="background-color:#32c8de" data-target="#multi-item-example" data-slide-to="1"></li>
                    <li style="background-color:#32c8de" data-target="#multi-item-example" data-slide-to="2"></li>
                </ol>
                <!--/.Indicators-->
                <!--Slides-->
                <div class="carousel-inner" role="listbox">

                    <!--First slide-->
                    <div class="carousel-item active">

                        <div class="row">
                            <div class="col-md-3 col-sm-6">
                                <!-- Restaurant Item -->
                                <div class="item">
                                    <!-- Item's image -->
                                    <img class="img-responsive" src="@Model.Products.ElementAt(0).PathToImage" alt="">
                                    <!-- Item details -->
                                    <div class="item-dtls">
                                        <!-- product title -->
                                        <h4><a asp-controller="Products" asp-action="Details" asp-route-id="@Model.Products.ElementAt(0).Id">@Model.Products.ElementAt(0).Brand @Model.Products.ElementAt(0).Model </a></h4>
                                        <!-- price -->
                                        <span class="price lblue">₪@Model.Products.ElementAt(0).Price</span>
                                    </div>
                                    <!-- add to cart btn -->
                                    <div class="ecom bg-lblue">
                                        <form asp-action="Create" asp-controller="ShoppingCart">
                                            <input name="UserID" id="UserID" value="@UserManager.GetUserId(User)" hidden />
                                            <input name="ProductID" id="ProductID" value="@Model.Products.ElementAt(0).Id" hidden />
                                            <input name="Quantity" id="Quantity" type="number" value="1" hidden>
                                            <button class="btn" type="submit">Add to cart</button>
                                        </form>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-3 col-sm-6">
                                <!-- Restaurant Item -->
                                <div class="item">
                                    <!-- Item's image -->
                                    <img class="img-responsive" src="@Model.Products.ElementAt(1).PathToImage" alt="">
                                    <!-- Item details -->
                                    <div class="item-dtls">
                                        <!-- product title -->
                                        <h4><a asp-controller="Products" asp-action="Details" asp-route-id="@Model.Products.ElementAt(1).Id">@Model.Products.ElementAt(1).Brand @Model.Products.ElementAt(1).Model </a></h4>
                                        <!-- price -->
                                        <span class="price lblue">₪@Model.Products.ElementAt(1).Price</span>
                                    </div>
                                    <!-- add to cart btn -->
                                    <div class="ecom bg-lblue">
                                        <form asp-action="Create" asp-controller="ShoppingCart">
                                            <input name="UserID" id="UserID" value="@UserManager.GetUserId(User)" hidden />
                                            <input name="ProductID" id="ProductID" value="@Model.Products.ElementAt(1).Id" hidden />
                                            <input name="Quantity" id="Quantity" type="number" value="1" hidden>
                                            <button class="btn" type="submit">Add to cart</button>
                                        </form>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-3 col-sm-6">
                                <!-- Restaurant Item -->
                                <div class="item">
                                    <!-- Item's image -->
                                    <img class="img-responsive" src="@Model.Products.ElementAt(2).PathToImage" alt="">
                                    <!-- Item details -->
                                    <div class="item-dtls">
                                        <!-- product title -->
                                        <h4><a asp-controller="Products" asp-action="Details" asp-route-id="@Model.Products.ElementAt(2).Id">@Model.Products.ElementAt(2).Brand @Model.Products.ElementAt(2).Model </a></h4>
                                        <!-- price -->
                                        <span class="price lblue">₪@Model.Products.ElementAt(2).Price</span>
                                    </div>
                                    <!-- add to cart btn -->
                                    <div class="ecom bg-lblue">
                                        <form asp-action="Create" asp-controller="ShoppingCart">
                                            <input name="UserID" id="UserID" value="@UserManager.GetUserId(User)" hidden />
                                            <input name="ProductID" id="ProductID" value="@Model.Products.ElementAt(2).Id" hidden />
                                            <input name="Quantity" id="Quantity" type="number" value="1" hidden>
                                            <button class="btn" type="submit">Add to cart</button>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6">
                                <!-- Restaurant Item -->
                                <div class="item">
                                    <!-- Item's image -->
                                    <img class="img-responsive" src="@Model.Products.ElementAt(3).PathToImage" alt="">
                                    <!-- Item details -->
                                    <div class="item-dtls">
                                        <!-- product title -->
                                        <h4><a asp-controller="Products" asp-action="Details" asp-route-id="@Model.Products.ElementAt(3).Id">@Model.Products.ElementAt(3).Brand @Model.Products.ElementAt(3).Model </a></h4>
                                        <!-- price -->
                                        <span class="price lblue">₪@Model.Products.ElementAt(3).Price</span>
                                    </div>
                                    <!-- add to cart btn -->
                                    <div class="ecom bg-lblue">
                                        <form asp-action="Create" asp-controller="ShoppingCart">
                                            <input name="UserID" id="UserID" value="@UserManager.GetUserId(User)" hidden />
                                            <input name="ProductID" id="ProductID" value="@Model.Products.ElementAt(3).Id" hidden />
                                            <input name="Quantity" id="Quantity" type="number" value="1" hidden>
                                            <button class="btn" type="submit">Add to cart</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!--/.First slide-->
                    <!--Second slide-->
                    <div class="carousel-item">

                        <div class="row">
                            <div class="col-md-3 col-sm-6">
                                <!-- Restaurant Item -->
                                <div class="item">
                                    <!-- Item's image -->
                                    <img class="img-responsive" src="@Model.Products.ElementAt(4).PathToImage" alt="">
                                    <!-- Item details -->
                                    <div class="item-dtls">
                                        <!-- product title -->
                                        <h4><a asp-controller="Products" asp-action="Details" asp-route-id="@Model.Products.ElementAt(4).Id">@Model.Products.ElementAt(4).Brand @Model.Products.ElementAt(4).Model </a></h4>
                                        <!-- price -->
                                        <span class="price lblue">₪@Model.Products.ElementAt(4).Price</span>
                                    </div>
                                    <!-- add to cart btn -->
                                    <div class="ecom bg-lblue">
                                        <form asp-action="Create" asp-controller="ShoppingCart">
                                            <input name="UserID" id="UserID" value="@UserManager.GetUserId(User)" hidden />
                                            <input name="ProductID" id="ProductID" value="@Model.Products.ElementAt(4).Id" hidden />
                                            <input name="Quantity" id="Quantity" type="number" value="1" hidden>
                                            <button class="btn" type="submit">Add to cart</button>
                                        </form>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-3 col-sm-6">
                                <!-- Restaurant Item -->
                                <div class="item">
                                    <!-- Item's image -->
                                    <img class="img-responsive" src="@Model.Products.ElementAt(5).PathToImage" alt="">
                                    <!-- Item details -->
                                    <div class="item-dtls">
                                        <!-- product title -->
                                        <h4><a asp-controller="Products" asp-action="Details" asp-route-id="@Model.Products.ElementAt(5).Id">@Model.Products.ElementAt(5).Brand @Model.Products.ElementAt(5).Model </a></h4>
                                        <!-- price -->
                                        <span class="price lblue">₪@Model.Products.ElementAt(5).Price</span>
                                    </div>
                                    <!-- add to cart btn -->
                                    <div class="ecom bg-lblue">
                                        <form asp-action="Create" asp-controller="ShoppingCart">
                                            <input name="UserID" id="UserID" value="@UserManager.GetUserId(User)" hidden />
                                            <input name="ProductID" id="ProductID" value="@Model.Products.ElementAt(5).Id" hidden />
                                            <input name="Quantity" id="Quantity" type="number" value="1" hidden>
                                            <button class="btn" type="submit">Add to cart</button>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6">
                                <!-- Restaurant Item -->
                                <div class="item">
                                    <!-- Item's image -->
                                    <img class="img-responsive" src="@Model.Products.ElementAt(6).PathToImage" alt="">
                                    <!-- Item details -->
                                    <div class="item-dtls">
                                        <!-- product title -->
                                        <h4><a asp-controller="Products" asp-action="Details" asp-route-id="@Model.Products.ElementAt(6).Id">@Model.Products.ElementAt(6).Brand @Model.Products.ElementAt(6).Model </a></h4>
                                        <!-- price -->
                                        <span class="price lblue">₪@Model.Products.ElementAt(6).Price</span>
                                    </div>
                                    <!-- add to cart btn -->
                                    <div class="ecom bg-lblue">
                                        <form asp-action="Create" asp-controller="ShoppingCart">
                                            <input name="UserID" id="UserID" value="@UserManager.GetUserId(User)" hidden />
                                            <input name="ProductID" id="ProductID" value="@Model.Products.ElementAt(6).Id" hidden />
                                            <input name="Quantity" id="Quantity" type="number" value="1" hidden>
                                            <button class="btn" type="submit">Add to cart</button>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6">
                                <!-- Restaurant Item -->
                                <div class="item">
                                    <!-- Item's image -->
                                    <img class="img-responsive" src="@Model.Products.ElementAt(7).PathToImage" alt="">
                                    <!-- Item details -->
                                    <div class="item-dtls">
                                        <!-- product title -->
                                        <h4><a asp-controller="Products" asp-action="Details" asp-route-id="@Model.Products.ElementAt(7).Id">@Model.Products.ElementAt(7).Brand @Model.Products.ElementAt(7).Model </a></h4>
                                        <!-- price -->
                                        <span class="price lblue">₪@Model.Products.ElementAt(7).Price</span>
                                    </div>
                                    <!-- add to cart btn -->
                                    <div class="ecom bg-lblue">
                                        <form asp-action="Create" asp-controller="ShoppingCart">
                                            <input name="UserID" id="UserID" value="@UserManager.GetUserId(User)" hidden />
                                            <input name="ProductID" id="ProductID" value="@Model.Products.ElementAt(7).Id" hidden />
                                            <input name="Quantity" id="Quantity" type="number" value="1" hidden>
                                            <button class="btn" type="submit">Add to cart</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!--/.Second slide-->
                    <!--Third slide-->
                    <div class="carousel-item">

                        <div class="row">
                            <div class="col-md-3 col-sm-6">
                                <!-- Restaurant Item -->
                                <div class="item">
                                    <!-- Item's image -->
                                    <img class="img-responsive" src="@Model.Products.ElementAt(8).PathToImage" alt="">
                                    <!-- Item details -->
                                    <div class="item-dtls">
                                        <!-- product title -->
                                        <h4><a asp-controller="Products" asp-action="Details" asp-route-id="@Model.Products.ElementAt(8).Id">@Model.Products.ElementAt(8).Brand @Model.Products.ElementAt(8).Model </a></h4>
                                        <!-- price -->
                                        <span class="price lblue">₪@Model.Products.ElementAt(8).Price</span>
                                    </div>
                                    <!-- add to cart btn -->
                                    <div class="ecom bg-lblue">
                                        <form asp-action="Create" asp-controller="ShoppingCart">
                                            <input name="UserID" id="UserID" value="@UserManager.GetUserId(User)" hidden />
                                            <input name="ProductID" id="ProductID" value="@Model.Products.ElementAt(8).Id" hidden />
                                            <input name="Quantity" id="Quantity" type="number" value="1" hidden>
                                            <button class="btn" type="submit">Add to cart</button>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6">
                                <!-- Restaurant Item -->
                                <div class="item">
                                    <!-- Item's image -->
                                    <img class="img-responsive" src="@Model.Products.ElementAt(9).PathToImage" alt="">
                                    <!-- Item details -->
                                    <div class="item-dtls">
                                        <!-- product title -->
                                        <h4><a asp-controller="Products" asp-action="Details" asp-route-id="@Model.Products.ElementAt(9).Id">@Model.Products.ElementAt(9).Brand @Model.Products.ElementAt(9).Model </a></h4>
                                        <!-- price -->
                                        <span class="price lblue">₪@Model.Products.ElementAt(9).Price</span>
                                    </div>
                                    <!-- add to cart btn -->
                                    <div class="ecom bg-lblue">
                                        <form asp-action="Create" asp-controller="ShoppingCart">
                                            <input name="UserID" id="UserID" value="@UserManager.GetUserId(User)" hidden />
                                            <input name="ProductID" id="ProductID" value="@Model.Products.ElementAt(9).Id" hidden />
                                            <input name="Quantity" id="Quantity" type="number" value="1" hidden>
                                            <button class="btn" type="submit">Add to cart</button>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6">
                                <!-- Restaurant Item -->
                                <div class="item">
                                    <!-- Item's image -->
                                    <img class="img-responsive" src="@Model.Products.ElementAt(10).PathToImage" alt="">
                                    <!-- Item details -->
                                    <div class="item-dtls">
                                        <!-- product title -->
                                        <h4><a asp-controller="Products" asp-action="Details" asp-route-id="@Model.Products.ElementAt(10).Id">@Model.Products.ElementAt(10).Brand @Model.Products.ElementAt(10).Model </a></h4>
                                        <!-- price -->
                                        <span class="price lblue">₪@Model.Products.ElementAt(10).Price</span>
                                    </div>
                                    <!-- add to cart btn -->
                                    <div class="ecom bg-lblue">
                                        <form asp-action="Create" asp-controller="ShoppingCart">
                                            <input name="UserID" id="UserID" value="@UserManager.GetUserId(User)" hidden />
                                            <input name="ProductID" id="ProductID" value="@Model.Products.ElementAt(10).Id" hidden />
                                            <input name="Quantity" id="Quantity" type="number" value="1" hidden>
                                            <button class="btn" type="submit">Add to cart</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <!-- Restaurant Item -->
                                <div class="item">
                                    <!-- Item's image -->
                                    <img class="img-responsive" src="@Model.Products.ElementAt(11).PathToImage" alt="">
                                    <!-- Item details -->
                                    <div class="item-dtls">
                                        <!-- product title -->
                                        <h4><a asp-controller="Products" asp-action="Details" asp-route-id="@Model.Products.ElementAt(11).Id">@Model.Products.ElementAt(11).Brand @Model.Products.ElementAt(11).Model </a></h4>
                                        <!-- price -->
                                        <span class="price lblue">₪@Model.Products.ElementAt(11).Price</span>
                                    </div>
                                    <!-- add to cart btn -->
                                    <div class="ecom bg-lblue">
                                        <form asp-action="Create" asp-controller="ShoppingCart">
                                            <input name="UserID" id="UserID" value="@UserManager.GetUserId(User)" hidden />
                                            <input name="ProductID" id="ProductID" value="@Model.Products.ElementAt(11).Id" hidden />
                                            <input name="Quantity" id="Quantity" type="number" value="1" hidden>
                                            <button class="btn" type="submit">Add to cart</button>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!--/.Third slide-->

                    </div>
                    <!--/.Slides-->

                </div>
                <!--/.Carousel Wrapper-->


            </div>
        </div>
    </div>
</div>

<div class="container bootstrap snippets bootdey">
    <h1 class="nav-link text-dark">  Technology news feed </h1>
    <link rel="stylesheet" href="~/css/API.css" />
    <div class="row" id="FatherRow">
    </div>
</div>